:root {
    --button-color: #009999;
    --button-hover-color: #006666;
    --background-color: #1a1a1a;
    --text-color: #ffffff;
    --input-color: #444444;
}

body {
    margin: 0;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

/* scrollbar.css */
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #ffffff80;
    box-shadow: 0 0 1px #ffffff80;
}

/* navigationBar.css */
.nav {
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 600;
    height: 42px;
    background: #222222;
}

.nav__link-left {
    float: left;
    padding: 12px 24px;
    text-decoration: none;
    color: var(--text-color);
}

.nav__link-left:hover {
    background: #ffffff0d;
}

.nav__link-right {
    float: right;
    padding: 12px 24px;
    text-decoration: none;
    color: var(--text-color);
}

.nav__link-right:hover {
    background: #ffffff0d;
}

/* home.css */
.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* buy.css // Displaying all recidences a search / filter */
.residences {
    box-sizing: border-box;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0.5rem;
    padding: 1rem;
    position: relative;
    width: calc(25% - 1rem);
    letter-spacing: .15em;
}

.residences:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease;
}

.residences::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center;
    background-image: url('./house1.jpg');
    filter: brightness(50%);
    background-size: cover;
    z-index: -1;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.residences h2 {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 7rem;
    margin-bottom: 0;
}

.residences p {
    color: var(--text-color);
    font-size: 1rem;
    margin-bottom: 0.1rem;
}

/* residence.css // Displaying detailed information about a single recident*/
.residence {
    margin: auto;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: var(--text-color);
    font-size: 1rem;
}

.image {
    display: flex;
    margin: auto;
    max-width: 50%;
    max-height: 50%;
    padding-top: 1em;
    filter: brightness(50%);
    background-size: fill;
}

.residence h2 {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    color: var(--text-color);
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.sliderContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.slider {
    appearance: none;
    width: 30%;
    height: 25px;
    background: #313131;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.info {
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
    font-size: 1rem;
    line-height: 2;
    letter-spacing: .15em;
    margin: 0;
    padding-bottom: 5em;
}

/* filter.css */
.filterForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 40%;
    line-height: 2;
    background-color: #333333;
}

.filterForm h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

/* sell.css */
.sellForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    width: 40%;
    line-height: 2;
    background-color: #333333;
}

.sellForm h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

/* contact.css */
.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1rem;
    background-color: #333333;
}

.contactForm h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}

/* login.css */
.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 1rem;
    background-color: #333333;
}

.loginForm h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: 600;
    color: var(--text-color);
}


/* form.css */
label {
    margin-bottom: 8px;
}

input,
textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    resize: vertical;
    background-color: var(--input-color);
    color: var(--text-color);
}

select {
    width: 8%;
    height: 25px;
    background: var(--input-color);
    color: var(--text-color);
    outline: none;
    opacity: 0.7;
}

button {
    background-color: var(--button-color);
    color: var(--text-color);
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

button:hover {
    background-color: var(--button-hover-color);
}

/* add resolutions for other devices */
@media only screen and (max-width: 1200px) {
    .residences {
        max-width: calc(33.33% - 1rem);
    }
}